@model IEnumerable<Student>
<a asp-controller="Students" asp-action="GetCreateView" class="btn btn-success mb-1">Create Student</a>

<h1 class="alert alert-success">Student List</h1>

@if (Model.Count() > 0)
{
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(d=>d.Id)</th>
                <th>@Html.DisplayNameFor(d=>d.Name)</th>
                <th>@Html.DisplayNameFor(d=>d.Level)</th>
                <th>@Html.DisplayNameFor(d=>d.ImagePath)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Level</td>
                    <td><img src="@item.ImagePath" style="width: 50px;" /></td>
                    
                  <td>
                <a asp-controller="Students" asp-action="GetDetailsView" asp-route-id="@item.Id" class="btn btn-outline-warning">
                <i class="bi bi-list-ul"></i>
                </a>
                </td>
                  
                <td>
                        <a asp-controller="Students" asp-action="GetEditView" asp-route-id="@item.Id" class="btn btn-outline-success">
                <i class="bi bi-pencil-square"></i>
                </a>
                </td>
                   
                <td>
                        <a asp-controller="Students" asp-action="GetDeleteView" asp-route-id="@item.Id" class="btn btn-outline-danger">
                <i class="bi bi-trash"></i>
                </a>
                </td>
                </tr>
            }
        </tbody>
        @*<tfoot>
    <tr><th colspan="3" style="text-align:right">Total</th><th>@Model.Sum(dept => dept.AnnualBudget)</th></tr>
    </tfoot>*@
    </table>
}
else
{
    <h1 class="alert alert-danger text-center">There is no department to display.</h1>
}